.oneWidget {
    >h2 {
        font-family: "Andale Mono";
        font-size: xx-large;
        color: darkred;
    }

    >.action-buttons {
        padding: 5px;
        border: solid 5px darkorange;

        >button {
            font-size: large;
        }
    }

    >.nested-inclusion {
        border: solid 3px lightsteelblue;
        
        >h3 {
            color: darkgoldenrod;
        }
    }

    font-family: "Arial Black";
    border: dashed 5px green;
    background-color: lightgreen;

}
